.page-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

.grid-div {
  display: grid;
  grid-template-columns: 200px;
  column-gap: 20px;
  row-gap: 20px;
  margin: 0px;
  justify-content: center;
}

@media (min-width: 768px) {
  .grid-div {
      grid-template-columns: repeat(2, 150px);
  }
}

@media (min-width: 1024px) {
  .grid-div {
      grid-template-columns: repeat(4, 200px);
  }
}

.pirma-treniruote-container {
  border-style: solid;
  border-color: rgb(129, 129, 129);
  background-color: rgba(165, 42, 42, 0.43);
  border-radius: 10px;
  border-width: 5px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s;
}

.pirma-treniruote-container:hover {
  border-color: red;
  cursor: pointer;
}

.pirma-treniruote-img {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 200px;
  max-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img-container {
  display: flex;
  flex: 1;
  height: 150px;
}

.pvienas {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.pirmap {
  text-decoration: none;
  text-align: center;
  margin: 2px 0;
  color: rgb(255, 255, 255);
  font-size: 4vw; /* Adjusted for mobile view */
}

@media (min-width: 768px) {
  .img-container {
      height: 200px;
  }

  .pirmap {
      font-size: 2vw;
  }
}

@media (min-width: 1024px) {
  .img-container {
      height: 250px;
  }

  .pirmap {
      font-size: 1vw;
  }
}